/* Color pallete: https://colorhunt.co/palette/252911 */
body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#top-section {
    background-color: #64E6A0;
    padding: 3% 15% 7%;
    height: 100vh;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.section-heading {
    color: #89DDB3;
    margin-bottom: 4rem;
}

.section-hr {
    display: flex;
}

.hr-part-visible {
    border: solid;
    border-color: #000;
    border-radius: 10px;
    border-width: 2px;

    flex-grow: 15;
}

.hr-part-invisible {
    flex-grow: 70;
}

/* Title Section */

.title-text-wrapper {
    margin-top: 25vh;
    text-align: left;
}

.title {
    color: #FFF;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.sub-title {
    color: #4A6657;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-button {
    border: solid;
    border-color: #FFF;
    border-radius: 10px;
    border-width: 2px;
    height: 50px;
    width: 225px;
    font-size: 1.25rem;
    color: #FFF;
    padding: 8px 25px 12px;
    transition: background-color 0.5s, border 0.5s;
}

.title-button i {
    transition: transform 0.5s;
}

.title-button:hover {
    border-color: #64E6A0;
    background-color: #FFC736;
    color: #4B1E3D;
}

.title-button:hover i {
    transform: rotate(90deg);
}

.hexagon-container {
    text-align: right;
    direction: rtl;
}
.hexagon {
    color: #4B1E3D;
    font-size: 35em;
}

/* Navigation Bar Section */

.navbar {
    padding-left: 14%;
    background-color: #4B1E3D;
}

.nav-link {
    color: #CDBEA0;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    margin: 0 1.5em;
}

.nav-link:hover {
    color: #FFC736;
}

.nav-link.active {
    color: #FFC736;
    font-weight: 700;
}

.toggler-icon {
    color: #FFC736;;
}

/* Container */

.body-container {
    padding: 5% 15% 5%;
}

.char {
    font-size: 2rem;
}

.char.complete {
    color: #FFC736;
}

.char.incomplete {
    color: #4B1E3D;
}

/* About Section */

#about {
    background-color: #FFF;
    position: relative;
    z-index: 1;
    color: #403E37;
}

.about-image {
}

.about-description {
    text-align: left;
    font-size: 1.5rem;
}

.intro-column {
    padding: 2rem;
}

.description {
    padding: 0 8%;
}

.profile-img {
    width: 80%;
    margin-bottom: 1rem;
}

.update {
    background-color: #CDBEA0;
    margin: 5em auto 0;
    padding: 1rem 1rem 0.5rem;
    width: 80%;
}

/* Skill Carousel */

#skill-carousel {
    height: 100%;
}

.skill-column {
    padding: 0;
}

.skill-container {
    padding-top: 2rem;
}

.skill-category {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.skill-list {
    text-align: left;
    padding: 0 5px;
}

.skill-row {
    display: flex;
    height: 2.5rem;
    margin: 10px 0;
}

.skill-name {
    background-color: #493323;
    color: #FFF;
    font-size: 1rem;
    padding-top: 8px;
    text-align: center;
    width: 20%;
}

.skill-progress {
    background-color: #807B6F;
    width: 80%;
}

.skill-progress-bar {
    background-color: #FFF6DE;
    height: 100%;
}

.carousel-control-prev, .carousel-control-next {
    height: 10%;
    top: 1.5rem;
}

/* Experience Section */

#experience {
    background-color: #FFF6DE;
    color: #403E37;
}

.experience-item {
    text-align: left;
    margin-bottom: 2.5rem;
}

.experience-intro {
    display: flex;
}

.experience-heading {
    flex-grow: 7;
}

.experience-side-heading {
    flex-grow: 3;
    text-align: right;
}

address {
    margin-bottom: 0;
}

time {
    font-size: 1.25rem;
}

.experience-location {
    color: #807B6F;
    font-size: 1.5rem;
    font-weight: 300;
}

.experience-description {
    line-height: 1.75;
}

/* Projects Section */

#projects {
    background-color: #FFF;
    color: #403E37;
}

.card-header {
    padding-top: 15px;
}

/* Email Form Section */

#contact {
    background-color: #493323;
    color: #FFF6DE;
}

/* Contacts Section */

#outside-links {
    background-color: #ffdf91;
    color: #493323;
}

/* font-family: 'Nunito', sans-serif; */
@media (max-width: 576px) {
    /* Correspond to Bootstrap breakpoint "sm". */

    .title-text-wrapper {
        text-align: center;
    }

    .title {
        font-size: 2rem;
    }

    .sub-title {
        font-size: 1.25rem;
    }

    .title-button {
        margin: 0 auto;
        height: 40px;
        width: 225px;
        font-size: 1rem;
        padding: 7px 25px;
        transition: background-color 0.5s, border 0.5s;
    }

    .hexagon-container {
        text-align: center;
    }

    .hexagon {
        color: #4B1E3D;
        font-size: 12em;
    }

    .navbar {
        direction: rtl; /* Align navbar hamburger to right */
        padding-left: 0;
    }

    .section-heading {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    .about-description {
        font-size: 1rem;
        padding-top: 0.25rem;
    }

    .update {
        margin-top: 3rem;
        width: 100%;
    }

    .section-hr {
        margin-top: 4rem;
    }
}

/* @media (max-width: 736px) {
    .title-text-wrapper {
        text-align: center;
    }

    .title-button {
        height: 100px;
        width: 350px;
        padding: 20px 25px;
        font-size: 2rem;
    }
    .top-navbar-wrapper {
        padding-top: 10%;
    }
} */
