/* Color pallete: https://colorhunt.co/palette/252911 */
body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#top-section {
    background-color: #64E6A0;
    padding: 3% 15% 7%;
    height: 100vh;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.section-heading {
    margin-bottom: 3rem;
}

/* Navigation Bar Section */

.top-navbar-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

.body-navbar-wrapper {
    background-color: #493323;
    padding: 1em 0 1em 15%;
    position: sticky;
    top: 0;
    text-align: left;
    z-index: 1;
}

.navbar-list {
    margin-bottom: 0;
}

.navbar-item {
    display: inline;
}

.top-navbar-wrapper .navbar-item {
    padding-left: 3rem;
}

.body-navbar-wrapper .navbar-item {
    padding-right: 3rem;
    font-size: 1.25rem;
    color: #FFF6DE;
}

.body-navbar-wrapper a:hover {
    color: #f4bc34;
}

.resume-page-icon {
    color: #FFF6DE;
}

.personal-page-icon {
    color: #807B6F;
}

.personal-page-icon:hover {
    color: #FFF6DE;
}

/* Title Section */

.title-text-wrapper {
    color: #493323;
    margin-top: 25vh;
}

.title {
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.sub-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.title-img-wrapper {
    padding: 0;
    text-align: right;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-button {
    border: solid;
    border-width: 2px;
    border-color: #FFF6DE;
    height: 50px;
    width: 225px;
    font-size: 1.25rem;
    color: #403E37;
    padding: 8px 25px 12px;
    margin: 0 auto auto;
    transition: background-color 0.5s, border 0.5s;
}

.title-button i {
    transition: transform 0.5s;
}

.title-button:hover {
    border-color: #ffdf91;
    background-color: #eaac7f;
    color: #FFF6DE;
}

.title-button:hover i {
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .title-button {
        height: 100px;
        width: 350px;
        padding: 20px 25px;
        font-size: 2rem;
    }
    .top-navbar-wrapper {
        padding-top: 10%;
    }
}

/* Container */

.body-container {
    padding: 5% 15% 3%;
}


/* About Section */

#about {
    background-color: #FFF;
    color: #403E37;
}

.intro-column {
    padding: 2rem;
}

.description {
    padding: 0 8%;
}

.profile-img {
    width: 40%;
    margin-bottom: 1rem;
}

#skill-carousel {
    height: 100%;
}

.skill-column {
    padding: 0;
}

.skill-container {
    padding-top: 2rem;
}

.skill-category {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.skill-list {
    text-align: left;
    padding: 0 5px;
}

.skill-row {
    display: flex;
    height: 2.5rem;
    margin: 10px 0;
}

.skill-name {
    background-color: #493323;
    color: #FFF;
    font-size: 1rem;
    padding-top: 8px;
    text-align: center;
    width: 20%;
}

.skill-progress {
    background-color: #807B6F;
    width: 80%;
}

.skill-progress-bar {
    background-color: #FFF6DE;
    height: 100%;
}

.carousel-control-prev, .carousel-control-next {
    height: 10%;
    top: 1.5rem;
}

/* Experience Section */

#experience {
    background-color: #FFF6DE;
    color: #403E37;
}

.experience-item {
    text-align: left;
    margin-bottom: 2.5rem;
}

.experience-intro {
    display: flex;
}

.experience-heading {
    flex-grow: 7;
}

.experience-side-heading {
    flex-grow: 3;
    text-align: right;
}

address {
    margin-bottom: 0;
}

time {
    font-size: 1.25rem;
}

.experience-location {
    color: #807B6F;
    font-size: 1.5rem;
    font-weight: 300;
}

.experience-description {
    line-height: 1.75;
}

/* Projects Section */

#projects {
    background-color: #FFF;
    color: #403E37;
}

.card-header {
    padding-top: 15px;
}

/* Email Form Section */

#contact {
    background-color: #493323;
    color: #FFF6DE;
}

/* Contacts Section */

#outside-links {
    background-color: #ffdf91;
    color: #493323;
}

/* font-family: 'Nunito', sans-serif; */
